.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.form div {
    margin: 10px;
}

input {
    font-size: 15px;
}

select {
    font-size: 15px;
}

.radio {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;

}

.button {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    background-color: white;
    border: 1px solid black;

}