#title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }

  #expenses {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }

  #expenses td, #expenses th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #expenses tr:nth-child(even){background-color: #f2f2f2;}

  #expenses tr:hover {background-color: #ddd;}

  #expenses th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #e74c3c;
    color: white;
  }
