#title {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
  }

  #savings {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
  }

  #savings td, #savings th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #savings tr:nth-child(even){background-color: #f2f2f2;}

  #savings tr:hover {background-color: #ddd;}

  #savings th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #2ecc71;
    color: white;
  }
