.inner-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.inner-container * {
  margin: 15px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.red {
  color: red;
}

.green {
  color: green;
}

.default {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.paragraph {
  font-family: 'Ubuntu', sans-serif;
  font-size: 40px;
  margin-bottom: 0;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid black;
}

.info p {
  padding: 10px;
  margin: 0;
}

@media (max-width: 600px) {
  .inner-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}